{%extends 'user_base.html'%}
{%load static%}
{%block title%} Upload Violation {%endblock%}



{%block main_block%} 

<div class="container">
    <div class="row ">
        <h3 class="text-center mt-5 mb-5">All Violations</h3>
        
        {%for v in all_violations%}

<div class="col-3">
            <div class="card" style="max-width: 30rem;">
                {%if v.image%}
                <img src="{{v.image.url}}" class="card-img-top" alt="...">
                {%endif%}
                <div class="card-body">
                  <p class="card-text fw-semibold">Description: {{v.description}}</p>
                  <p class="card-text fw-semibold">Violation Time: {{v.created_at}}</p>
                  <a href="{%url 'violation-update' v.id%}" class="btn btn-primary">Update</a>
                </div>
              </div>
    
</div>
        {%endfor%}

    </div>
</div>

{%endblock%}


